@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica Regular'), local('Helvetica-Regular'),
    url('fonts/helvetica/hinted-subset-Helvetica-Regular.woff') format('woff'),
    url('fonts/helvetica/hinted-subset-Helvetica-Regular.woff2') format('woff2'),
    font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::after, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13.26px;
  line-height: 24px;
  font-weight: 700;
  color: #040405;
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  maх-width: 100%;
  height: auto;
}

.wrapper-bg-1 {
  background-image: url("../img/background-feature/bg-1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #dedede;
  }

 .container-center {
  width: 700px;
  margin: 0 auto;
  /* padding: 0 10px; */
}

.main-header {
  margin-bottom: 32px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 40px;
  margin-bottom: 124px;
  font-size: 10px;
  line-height: 7px;
  color: #ffffff;
}

.logo {
  margin-right: 197px;
  font-size: 29px;
  line-height: 7px;
  color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left : auto;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  margin-right: 37px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #ffe26d;
}

.feature-slide {
  color: #ffffff;
}

.feature-slide .title-slide {
  margin-bottom: 29px;
  font-size: 40.69px;
  line-height: 120%;
  padding-right: 95px;
}

.description {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
}

.description-slide {
  margin-bottom: 32px;
  padding-right: 198px;
  font-size: 19.16px;
  line-height: 120%;
}

.button {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 125px;
  font: inherit;
  font-size: 10.32px;
  line-height: 6.9px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #040405;
  background-color: #ffe26d;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus,
.button-active {
  background-color: #62497c;
  color: #ffffff;
}

.button-cover {
  display: flex;
  padding-bottom: 214px;
}

.button-info-1 {
  margin-right: 4px;
}

.some-features {
  position: relative;
  margin-bottom: 90px;
}

.feature-controls {
  position: absolute;
  bottom: 37px;
  width: 61px;
  height: 8px;
}

.feature-controls a {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  background-color: #a99a9e;
  border-radius: 50%;
  }

.control-1,
.control-2,
.control-3 {
  margin-right: 7px;
}

.feature-controls a:hover,
.feature-controls a:focus,
.feature-controls a:active {
  background-color: #ffffff;
}

.welcome-block {
  border-bottom: 2px solid  #e7e7e7;
  margin-bottom: 56px;
}

.welcome-block h2 {
  margin-bottom: 83px;
}

.main-idea {
  position: relative;
  margin-bottom: 74px;
}

.main-idea h2 {
  font-size: 44.21px;
  line-height: 40.52px;
  text-align: center;
}

.main-idea p {
  width: 436px;
}

.main-idea img {
  position: absolute;
  top: 105px;
  left: 560px;
}

.description-page {
  font-size: 29.4px;
  line-height: 35px;
  color: inherit;
}
/*main-idea можно сделать релатив, а зонт абсолютно спозиционировать*/


.possibilities-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 57px;
}

.possibility {
  width: 161px;
  text-align: center;
  margin-right: 108px;
  }

.possibility img {
  margin-bottom: 10px;
}

.possibilities-list li:nth-child(3) {
  margin-right: 0;
}

.possibilities-title {
  margin-bottom: 20px;
}

.possibilities-description {
  margin-bottom: 33px;
  padding: 0 2px;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
  }

.button-info {
  display: block;
  margin: 0 auto;
}

 .projects {
  max-width: 1400px;
  margin: 0 auto;
}

.projects h2 {
  font-size: 44.21px;
  line-height: 40.52px;
  text-align: center;
  margin-bottom: 52px;
}

.project-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #efefef;
  }

.project-list li {
  margin: 0;
  padding: 0;
  width: 353px;
}

.project-list img {
  margin-bottom: 25px;
}

.project-list h3 {
  font-size: 15px;
  line-height: 40.52px;
  text-transform: uppercase;
  margin-bottom: 3px;
  padding-left: 43px;
}

.button-study {
  width: 162px;
  color: inherit;
  background-color: #fefefe;
  margin-bottom: 45px;
  margin-left: 43px;
}

.projects p {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
  margin-bottom: 12px;
  padding: 0 35px 0 43px;
}

.project:hover {
  background-color: #ffe26d;
}

.price {
  text-align: center;
}

.pricing-table .table-name {
  font-size: 44.21px;
  line-height: 40.52px;
  text-align: center;
}

.plan-title {
  font-size: 14.74px;
  line-height: 6.9px;
}

.payment {
  font-weight: 400;
  /* color: #9d9d9d; */
  opacity: 0.39;
}

.terms {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 10.32px;
  font-weight: 400;
  line-height: 22px;
}

.video-project {
  background-color: #62497c;
}

.video-project h2 {
  font-size: 44.21px;
  line-height: 40.52px;
  color: #fefefe;
}

.video-list p {
  font-size: 10px;
  line-height: 6.9px;
  text-transform: uppercase;
  color: #fefefe;
}

.team h2 {
  font-size: 44.21px;
  line-height: 40.52px;
}

.team-list {
  list-style: none;
}

.team-member {
  font-size: 15px;
  line-height: 6.9px;
  text-transform: uppercase;
}

.post {
  font-size: 15px;
  line-height: 6.9px;
  /* color: #9d9d9d; */
  opacity: 0.39;
}

.post-seo {
  text-transform: uppercase;
}

.life-slider {
  background-color: #efefef;
}

.zippy-life-list {
  list-style: none;
}

.newsletter {
  background-image: url("../img/background-feature/bg-2.jpg");
  /* background-position: top center; */
  background-repeat: no-repeat;
  background-color: #fefefe;
}

.newsletter h2 {
  font-size: 44.21px;
  line-height: 40.52px;
  /* text-align: center; */
  color: #fefefe;
}

.field-subscribe {
  font-family: inherit;
  font-size: 19.16px;
  font-weight: 400;
  line-height: 40.52px;
  color: #d8d8d8;
  border: 0;
}

/*
попробовать позадавать общие стили через группы селекторов с двумя уровнями вложенности, т.е.
для центровки заголовков указать секцию и h2 и text-align: center; и можно и свойства шрифта тоже сюда,
т.к. у всех заголовков второго уровня один и тот же шрифт, может только быть не удобно т.к. правило будет
находитья в одном месте, а свойства применяться к разным элементам страницы, не очень удобно искать*/
.blog h2 {
  font-size: 44.21px;
  line-height: 40.52px;
}

.our-notice {
  list-style: none;
}

.notice {
  font-size: 15px;
}

.notice h3 {
  font-size: 15px;
  text-transform: uppercase;
}

.notice time,
.notice p {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
}

.notice time {
  opacity: 0.5;
}

.button-blog {
  background-color: #ececec;
}

.button-blog:hover,
.button-blog:focus,
.button-blog:active {
  color: inherit;
  background-color: #ffe26d;
}

/* подумать над оформлением кнопок при наведении тут серый фон и черный шрифт д.б. */
.location h2 {
  font-size: 44.21px;
  line-height: 40.52px;
}

.map-location {
  list-style: none;
}

.form {
  background-color: #ffe26d;
}

.connection {
  font-size: 44.21px;
  line-height: 40.52px;
}

.write-us {
  font-size: 10px;
  line-height: 6.9px;
  text-transform: uppercase;
}

.write-us input,
.field-message {
  border: 0;
}

.send-button {
  color: #fefefe;
  background-color: #62497c;
}

.footer-social,
.footer-contacts {
  text-align: center;
}

.social-connection h3 {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
}

.social-connection p,
.phone {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
  color: inherit;
}

.social-list {
  list-style: none;
}
