@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Regular'), local('Helvetica-Regular'),
    url('fonts/helvetica/hinted-subset-Helvetica-Regular.woff') format('woff'),
        url('fonts/helvetica/hinted-subset-Helvetica-Regular.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

html {
  box-sizing: border-box;

}

*,*::after, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13.26px;
  line-height: 24px;
  font-weight: 700;
  color: #040405;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

img {
  maх-width: 100%;
  height: auto;
}

.wrapper-bg-1 {
  background-image: url("../img/background-feature/bg-1.jpg");
  /* background-position: top center; */
  background-repeat: no-repeat;
  background-color: #dedede;
  height: 645px;
  }

.main-navigation {
  font-size: 10px;
  line-height: 7px;
  color: #ffffff;
  }

.logo {
  font-size: 29px;
  line-height: 7px;
  color: #ffffff;
  }

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #ffe26d;
}

.feature-slide {
  color: #ffffff;
}

.feature-slide .title-slide {
  font-size: 40.69px;
  line-height: 120%;
}

.description-page {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 19.16px;
  line-height: 120%;
}

.button {
  font: inherit;
  font-size: 10.32px;
  line-height: 6.9px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: inherit;
  background-color: #ffe26d;
  border: none;
}

.button:hover,
.button:focus,
.button-active {
  background-color: #62497c;
  color: #ffffff;
}

.main-idea h2 {
  font-size: 44.21px;
  line-height: 40.52px;
}

.possibilities-list {
  list-style: none;
}

.possibility {
  text-align: center;
}

.possibilities-description {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
}

.projects h2 {
  font-size: 44px;
  line-height: 40.52px;
}

.projects h3 {
  font-size: 15px;
  line-height: 40.52px;
  text-transform: uppercase;
}

.projects p {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
}

.pricing-table h2 {
  font-size: 44px;
  line-height: 40.52px;
}
