@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica Regular'), local('Helvetica-Regular'),
    url('fonts/helvetica/hinted-subset-Helvetica-Regular.woff') format('woff'),
    url('fonts/helvetica/hinted-subset-Helvetica-Regular.woff2') format('woff2'),
    font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::after, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13.26px;
  line-height: 24px;
  font-weight: 700;
  color: #040405;
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  maх-width: 100%;
  height: auto;
}

.wrapper-bg-1 {
  background-image: url("../img/background-feature/bg-1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #bdbdbd;
}

.container-center {
  width: 700px;
  margin: 0 auto;
}

.main-header {
  margin-bottom: 32px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 40px;
  margin-bottom: 124px;
  font-size: 10px;
  line-height: 7px;
  text-transform: uppercase;
  color: #ffffff;
}

.logo {
  margin-right: 197px;
  margin-top: 7px;
  font-size: 29px;
  line-height: 7px;
  letter-spacing: -3.4px;
  color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-left: auto;
  list-style: none;
}

.site-navigation li {
  margin-right: 37px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #ffe26d;
}

.feature-slide {
  color: #ffffff;
  padding-bottom: 48px;
}

.feature-slide .title-slide {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  width: 515px;
  font-size: 40.69px;
  line-height: 120%;
}

.title-slide {
  word-spacing: -0.09em;
}

.description {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
}

.description-slide {
  margin-bottom: 37px;
  max-width: 431px;
  font-size: 19.16px;
  line-height: 120%;
  word-spacing: 0.05em;
}

.button {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 125px;
  font: inherit;
  font-size: 10.32px;
  line-height: 6.9px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #040405;
  background-color: #ffe26d;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus,
.button-active {
  background-color: #62497c;
  color: #ffffff;
}

.button-cover {
  display: flex;
  padding-bottom: 214px;
}

.button-info-1 {
  margin-right: 3px;
  margin-left: 5px;
}

.some-features {
  position: relative;
  margin-bottom: 83px;
}

.feature-controls {
  position: absolute;
  bottom: 48px;
  width: 61px;
  height: 8px;
}

.feature-controls a {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  background-color: #a99a9e;
  border-radius: 50%;
}

.control-1,
.control-2,
.control-3 {
  margin-right: 4px;
}

.feature-controls a:hover,
.feature-controls a:focus,
.feature-controls a:active {
  background-color: #ffffff;
}

.welcome-block {
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 55px;
  padding-bottom: 4px;
}

.welcome-block h2 {
  margin-bottom: 83px;
}

.main-idea {
  position: relative;
  margin-bottom: 69px;
}

.main-idea h2 {
  margin-bottom: 76px;
  font-size: 44.21px;
  line-height: 40.52px;
  text-align: center;
}

.main-idea p {
  width: 436px;
}

.main-idea img {
  position: absolute;
  top: 102px;
  left: 507px;
}

.description-page {
  font-size: 29.4px;
  line-height: 35px;
  color: inherit;
}

/*main-idea можно сделать релатив, а зонт абсолютно спозиционировать*/
.possibilities-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 57px;
}

.possibility {
  width: 161px;
  text-align: center;
  margin-right: 108px;
}

.possibility img {
  margin-bottom: 6px;
}

.possibilities-list li:nth-child(3) {
  margin-right: 0;
}

.possibilities-title {
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #62497c;
}

.possibilities-description {
  margin-bottom: 35px;
  padding: 0 2px;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
}

.button-info {
  display: block;
  margin: 0 auto;
}

.projects {
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 87px;
}

.projects h2 {
  font-size: 44.21px;
  line-height: 40.52px;
  text-align: center;
  margin-bottom: 52px;
}

.project-list {
  display: flex;
  /* flex-wrap: wrap; */
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.project-list li {
  margin: 0;
  margin-left: -1px;
  padding: 0;
  width: 353px;
}

.project-list img {
  margin-bottom: 10px;
}

.project-list h3 {
  font-size: 15px;
  line-height: 40.52px;
  text-transform: uppercase;
  margin-bottom: -17px;
  padding-left: 43px;
}

.button-study {
  width: 162px;
  color: inherit;
  background-color: #fefefe;
  margin-bottom: 45px;
  margin-left: 43px;
}

.projects p {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
  margin-bottom: 16px;
  padding: 0 35px 0 43px;
}

.project:hover {
  background-color: #ffe26d;
}

.price {
  text-align: center;
  border-collapse: collapse;
}

.price td {
  width: 236px;
  border-right: 2px solid #e7e7e7;
}

.price .terms {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 10.32px;
  font-weight: 400;
  line-height: 22px;
}

.terms p {
  padding: 0;
  margin: 0;
}

.price td:last-child {
  border-right: 0;
}

.button-buy {
  width: 80px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-price td {
  padding-top: 20px;
  padding-right: 8px;
}

.pricing-table .table-name {
  font-size: 43.21px;
  line-height: 40.52px;
  text-align: center;
  margin-bottom: 56px;
  letter-spacing: 0.1px;
}

.price {
  margin: 0 auto;
}

.pricing-table {
  margin-bottom: 90px;
}

.plan-title {
  font-size: 14.74px;
  line-height: 6.9px;
  text-transform: uppercase;
}

.plan-title td {
  padding-bottom: 16px;
}

.payment td {
  font-weight: 400;
  color: #9d9d9d;
  padding-bottom: 8px;
}

.month-hi-register {
  text-transform: uppercase;
}

.video-project {
  background-color: #62497c;
  margin-bottom: 73px;
}

.video-project h2 {
  font-size: 44.21px;
  line-height: 40.52px;
  color: #fefefe;
  padding-top: 83px;
  padding-bottom: 12px;
  text-align: center;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1400px;
}

.video-list li {
  margin-right: 35px;
}

.video-list li:last-child {
  margin-right: 0;
}

.middle-frame,
.left-frame,
.right-frame {
  position: relative;
  margin-bottom: 142px;
}

.time-left {
  position: absolute;
  top: 474px;
  right: 1px;
}

.title-middle {
  position: absolute;
  top: 474px;
  left: 2px;
}

.time-middle {
  position: absolute;
  top: 474px;
  left: 2px;
}

.title-right {
  position: absolute;
  top: 474px;
  left: 3px;
}

.video-list p {
  font-size: 10px;
  line-height: 6.9px;
  text-transform: uppercase;
  color: #fefefe;
}

.title-team {
  font-size: 44.21px;
  line-height: 40.52px;
  text-align: center;
}

.title-band {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.team-list li {
  width: 173px;
  margin-right: 88px;
}

.team-list li:nth-child(3),
.team-list li:nth-child(6) {
  margin-right: 0;
}

.team-list li:nth-child(4),
.team-list li:nth-child(5),
.team-list li:nth-child(6) {
  margin-top: 53px;
  padding-bottom: 129px;
}

.team-list img {
  margin-bottom: 11px;
}

.team-member {
  margin-bottom: 23px;
  font-size: 15px;
  line-height: 6.9px;
  text-transform: uppercase;
}

.post {
  font-size: 15px;
  line-height: 6.9px;
  /* color: #9d9d9d; */
  opacity: 0.39;
}

.post-seo {
  text-transform: uppercase;
}

.life-slider {
  background-color: #efefef;
  padding-top: 77px;
  padding-bottom: 100px;
}

.title-life {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}

.zippy-life-list {
  display: flex;
  flex-wrap: wrap;
  width: 696px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.zippy-life-list li {
  margin-right: 13px;
}

.zippy-life-list li:last-child {
  margin-right: 0;
}

.main-frame {
  order: 1;
  margin-bottom: 8px;
}

.small-frame {
  order: 2;
}

.newsletter {
  background-image: url("../img/background-feature/bg-2.jpg");
  /* background-position: top center; */
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #fefefe;
  margin-bottom: 66px;
}

.newsletter h2 {
  font-size: 44.21px;
  line-height: 40.52px;
  margin: 0;
  padding-top: 55px;
  padding-bottom: 34px;
  text-align: center;
  color: #fefefe;
}

.news-subscription {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
}

.sign-up-button-1,
.sign-up-button-2 {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 131px;
}

.sign-up-button-2 {
  margin-left: 417px;
  margin-top: 23px;
  margin-bottom: 72px;
}

.field-subscribe {
  display: block;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 8px;
  min-width: 416px;
  font-family: inherit;
  font-size: 19.16px;
  font-weight: 400;
  line-height: 40.52px;
  color: #d8d8d8;
  border: 0;
}

/*
попробовать позадавать общие стили через группы селекторов с двумя уровнями вложенности, т.е.
для центровки заголовков указать секцию и h2 и text-align: center; и можно и свойства шрифта тоже сюда,
т.к. у всех заголовков второго уровня один и тот же шрифт, может только быть не удобно т.к. правило будет
находитья в одном месте, а свойства применяться к разным элементам страницы, не очень удобно искать*/
.blog {
  margin-bottom: 88px;
}

.blog h2 {
  font-size: 44.21px;
  line-height: 40.52px;
  text-align: center;
  margin-bottom: 59px;
}

.our-notice {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.notice {
  width: 207px;
  margin-right: 37px;
  text-align: center;
}

.notice:last-child {
  margin-right: 0;
}

/* проверить отступы в блоке Блог */
.notice img {
  margin-bottom: 10px;
}

.notice h3 {
  margin-bottom: 18px;
  padding: 0 3px;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
}

.notice time,
.notice p {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
}

.notice time {
  opacity: 0.5;
  margin-bottom: 15px;
}

.notice p {
  margin-bottom: 30px;
}

.button-blog {
  background-color: #ececec;
  margin: 0 auto;
}

.button-blog:hover,
.button-blog:focus,
.button-blog:active {
  color: inherit;
  background-color: #ffe26d;
}

/* подумать над оформлением кнопок при наведении тут серый фон и черный шрифт д.б. */
.location {
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 79px;
}

.map-location {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.location h2 {
  font-size: 44.21px;
  line-height: 40.52px;
  margin: 0;
  margin-bottom: 34px;
  padding-top: 47px;
  padding-left: 42px;
}

.form {
  width: 707px;
  background-color: #ffe26d;
}

.write-us {
  display: flex;
  flex-wrap: wrap;
}

.name,
.email,
.theme,
.message {
  margin: 0;
  padding: 0;
  margin-left: 43px;
  margin-right: auto;
}

.write-us input,
.field-message {
  display: block;
  width: 311px;
  margin: 15px 0 22px;
  padding: 16px 0;
  border: 0;
}

.field-message {
  padding: 46px 0 75px;
  resize: none;
  margin-bottom: 16px;
}

.connection {
  font-size: 44.21px;
  line-height: 40.52px;
}

.write-us {
  font-size: 10px;
  line-height: 6.9px;
  text-transform: uppercase;
}

.send-button {
  color: #fefefe;
  background-color: #62497c;
  width: 311px;
  margin-left: 43px;
  margin-bottom: 52px;
  padding-top: 19px;
  border-radius: initial;
}

.social-connection {
  display: flex;
  padding-bottom: 123px;
}

.address,
.footer-social,
.footer-contacts {
  width: 165px;
  text-align: center;
}

.footer-social {
  padding: 0 29px;
}

.footer-contacts p {
  margin: 0;
}

.social-connection h3 {
  margin-bottom: 18px;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
  text-align: center;
}

.social-connection p,
.phone {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23.58px;
  color: inherit;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list li {
  width: 35px;
}

.social-list li:nth-child(1),
.social-list li:nth-child(2),
.social-list li:nth-child(3) {
  margin-bottom: 16px;
}
